section:first-child {
    background-color: lightgrey;
    padding-top: 50px;
    padding-bottom: 25px;
}

.meme-section {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.meme-container {
    position: relative;
    /* background-color: black; */
    width: 500px;
    height: auto;
    display: inline-block;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
}
/* .meme-container:hover {
    opacity: 0.4;
} */
/* .delete {
    position: absolute;
    color: blue;
    font-size: 36px;
    border: 1px dotted blue;
    width: 100%;
    z-index: 4;
} */

.meme-container img {
    width: 100%;
}

.upper-caption, .lower-caption {
    font-size: 24px;
    position: absolute;
    width: 100%;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}



.delete {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid red;
    padding: 20x;
    width: 100%;
    height: 100%;
    font-size: 48px;
    top: 0%;
    opacity: 0.3;
    color:red;
}


.delete:hover {
    opacity: 1;
}

.upper-caption {
    top: 0%;
}

.lower-caption {
    bottom: 0%;
}
